body{
    font-family: 'Times New Roman', Times, serif;
    background: lightblue;
    color: darkblue;
    padding: 32px;
    text-align: center;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    background: yellowgreen;
    color: black;
    border-radius: 12px;
    padding: 32px;
}
input, button{
    padding: 0.8rem;
    margin: 0.5rem;
    border-radius: 8px;
    font-size: 16px;
}
button{
    background: darkcyan;
    color: #1a202c;
    cursor: pointer;
}
button:hover{
    transform: scale(1.05);
}
#commentList{
    margin-top: 16px;
    text-align: left;
}